* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* #appAdd {
    position: absolute;
    top: 1px;
    left: 1px;
}

#appNotify {
    position: absolute;
    top: 2rem;
    left: 2rem;
} */