:root {
  --color-font-main: #000000;
  --color-bg-main: #ffffff;
  --color-bg-second: #f5f5f5;
  --color-dark-gray: #a9a9a9;
  --app-toggle-cms-menu: initial;
  --app-max-width: 1280px;
  --app-font-size: 20px;
  --app-font-family: "system-ui", "Segoe UI", "Helvetica Neue", "Noto Sans",
  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: var(--app-max-width);
  font-size: var(--app-font-size);
  font-family: var(--app-font-family);
  background-color: var(--color-bg-second);
  color: var(--color-font-main);
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.5;
}

body > header {
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: steelblue;
}

main {
  padding: 1rem;
  padding-right: 2rem;
}

main ul,
main ol,
main menu {
  list-style-position: inside;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: circle;
}

menu,
.nav-item {
  list-style-type: none;
}

[type="submit"],
[type="reset"],
a,
button {
  cursor: pointer;
}

[type="submit"]:disabled,
[type="reset"]:disabled,
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

a {
  color: var(--color-dark-gray);
  text-decoration: none;
}

a:hover {
  text-decoration-color: var(--color-font-main);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: var(--color-font-main);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre {
  font-size: 0.85rem;
}

footer {
  width: 85%;
  margin-bottom: 5rem;
  color: var(--color-dark-gray);
  font-size: 1rem;
}

footer hr {
  width: 100%;
}

.flexy {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.start {
  align-items: start;
  text-align: start;
}

.start li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.nav-container {
  gap: 5rem;
}

.cms {
  width: 100%;
  gap: 2rem;
  align-items: flex-start;
}

main.cms>section:nth-child(1) {
  display: var(--app-toggle-cms-menu);
  flex-basis: 15rem;
}

main.cms>article:nth-child(3) {
  margin-right: 2rem;
  width: 100%;
}

.cms > article > header {
  width: 100%;
  justify-content: space-between;
}

.cms header figure img {
  width: 15rem;
}

main.cms>article:nth-child(3)>hr {
  width: inherit;
}

.gap-half {
  gap: .5rem;
}

.gap-x1 {
  gap: 1rem;
}

.gap-x3 {
  gap: 3rem;
}

.nav-item a {
  padding: 0 .5rem;
  gap: .5rem;
  color: gainsboro;
}

.active-nav-item {
  height: 100%;
  background-color: darkblue;
}

.nav-item a:hover {
  color: ghostwhite;
  text-decoration-color: ghostwhite;
}

.plans-container {
  gap: 2rem;
}

.plans-container header {
  flex-basis: 100%;
}

.plan {
  margin: 1rem 0.5rem;
  padding: 2rem 1rem;
  background-color: var(--color-bg-main);
  border-radius: 0.25rem;
}

.plan h5 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--color-dark-gray);
}

.plan h6 {
  font-size: 3rem;
  text-transform: uppercase;
}

.plan div {
  text-transform: uppercase;
  color: var(--color-dark-gray);
}

.plan ul,
.plan ol {
  margin-top: 2rem;
  list-style-position: inside;
  list-style-type: none;
}

.plan li {
  margin-top: 0.5rem;
}

.stretch {
  align-items: stretch;
}

.full-width {
  width: 100%;
}

.space {
  justify-content: space-between;
}

[type="submit"],
[type="reset"],
button {
  padding: 0.85rem 1.5rem;
  background-color: transparent;
  border: 2px solid #000000;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.plan button {
  margin-top: 3rem;
}

[type="submit"],
[type="reset"] {
  width: unset;
}

[type="submit"]:hover,
[type="reset"]:hover,
button:hover {
  background-color: #cccccc;
}

a.navigation {
  position: fixed;
  bottom: 0;
  right: 3rem;
  text-decoration: none;
  font-size: 3rem;
}

a.navigation:hover {
  color: var(--color-font-main);
  scale: 1.2;
}

blockquote {
  background: #f9f9f9;
  border-left: 0.25rem solid #cccccc;
  margin: 1.5rem 1rem;
  padding: 0.65rem 0.85rem;
  quotes: '"' '"' "'" "'";
  font-size: 1.1rem;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

q {
  quotes: '"' '"' "'" "'";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

details {
  width: 100%;
}

details summary { 
  cursor: pointer;
}

details summary>* {
  display: inline;
}

details > div {
  margin: 2rem 0;
}

details>div>div {
  text-align: center;
}

table,
th,
td {
  border: 1px solid var(--color-dark-gray);
}

table {
  margin: 1rem 0;
  width: 75%;
}

#outputArea {
  margin: 2rem;
  padding: 1rem;
  background-color: #cccccc;
  width: inherit;
  max-width: 85%;
}

@media screen and (max-width: 1080px) {  
  .nowrap {
    flex-wrap: wrap;
  }

  .nav-container {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .plans-container {
    gap: 1rem;
  }
}
